/* 去除常见标签默认的 margin 和 padding */
page,
view,
text,
image,
scroll-view,
navigator,
swiper,
swiper-item,
input,
button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 设置image的垂直对齐方式为居中对齐，去除img默认下间隙 */
image {
    vertical-align: middle;
}